{% extends "base.html" %}
{% block content %}


<h1>Player Maintenance</h1>
<a class="btn" href="/players/new">Add player to Team</a>
<a class="btn" href="/admin">Exit Player Maintenance</a>
<br>
<br>

<table>
    <tbody>
        {% for player in all_players %}
        <tr>
            <td>
                <form class="delete-form" action="/players/{{player.id}}/delete" method="POST">
                    <button class="trash-button"><i class="fas fa-trash fa-1x" aria-hidden="true"> </i></button>

                    {{player.player_name}} <a class="edit-icon" href="/players/{{player.id}}/edit"><i
                            class="fas fa-edit fa-1x"></i>edit</a>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}